.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: #093d31;
  background: url("/assets/slider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  gap: 30px;
}

.services-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(31, 41, 17, 0.5);
  z-index: 1;
}

.header-container {
  text-align: center;
  z-index: 2;
  margin-bottom: 30px;
}

.donation-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #fff !important;
  color: #fff !important;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 2;
}

.donation-btn:hover {
  background-color: lightgray;
  color: #000 !important;
}

.title {
  margin-top: 20px;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1px;
  color: #fff !important;
  text-transform: capitalize;
}

.services-title {
  color: #1c1c25 !important;
  font-size: 18px !important;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  text-transform: capitalize !important;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  z-index: 2;
  width: 100%;
  max-width: 1200px;
}

.service-card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  width: calc(33.333% - 20px);
  max-width: 380px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.service-card:hover .service-icon {
  transform: scaleX(-1);
  color: #fed65c;
}

.service-card:hover .service-button {
  background-color: #fed65c;
}

.service-header .service-icon {
  width: 50px;
  height: 50px;
  color: #093d31;
  transition: transform 0.3s ease, color 0.3s ease;
}

.service-header h3 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #093d31;
  text-transform: uppercase;
}

.service-card p {
  margin: 10px 0;
  color: #555;
  line-height: 1.5;
}

.service-button {
  padding: 12px 25px;
  background-color: #093d31;
  color: white;
  border: none;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  align-self: flex-start;
}

@media only screen and (max-width: 768px) {
  .header-container {
    text-align: left;
  }
  
  .service-card {
    width: 100%;
    max-width: none;
  }

  .cards-container {
    flex-direction: column;
    gap: 20px;
  }

  .title {
    font-size: 32px;
    text-align: left;
  }

  .services-title {
    font-size: 16px;
  }

  .donation-btn {
    font-size: 14px;
    padding: 12px 25px;
  }
}

@media only screen and (max-width: 480px) {
  .donation-btn {
    font-size: 12px;
    padding: 10px 20px;
  }

  .title {
    font-size: 28px;
  }

  .services-title {
    font-size: 14px;
  }
}
